@using lab2.Models


@model Student


<div class="container mt-4">
    <h2>Student Form</h2>
    <form action="/College/UpdateStudentConfirmed" method="post" class="mt-3">
        <div class="form-group">
            <label for="Id">ID</label>
            <input type="number" value = "@Model.Id" name="Id" class="form-control" id="Id" placeholder="Enter student ID" readonly/>
        </div>
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text"  value = "@Model.Name" name="Name" class="form-control" id="Name" placeholder="Enter student name" />
        </div>
        <div class="form-group">
            <label for="DepartmentId">Department ID</label>
            <input type="number" value = "@Model.DepartmentId" name="DepartmentId" class="form-control" id="DepartmentId" placeholder="Enter department ID" />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Update</button>
    </form>
</div>